@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}

<div class="page home-page">
    <div class="page-body">
        <!-- First Parallax Image with Logo Text -->
    <div class="bgimg-1 w3-display-container" id="home">
        <div class="w3-display-middle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">MY <span class="w3-hide-small">WEBSITE</span> LOGO</span>
        </div>
    </div>

    <!-- Container (About Section) -->
    <div id="fh5co-pricing-section" class="fh5co-pricing fh5co-lightgray-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="heading-section text-center animate-box">
                        <h2>Pricing Plan</h2>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="pricing">
                    <div class="col-md-3 animate-box">
                        <div class="price-box animate-box">
                            <h2 class="pricing-plan">Starter</h2>
                            <div class="price"><sup class="currency">$</sup>9<small>/month</small></div>
                            <p>Placeholder for description of the workout plan you want to offer for this price</p>
                            <ul class="classes">
                                <li>15 Cardio Classes</li>
                                <li class="color">10 Swimming Lesson</li>
                                <li>10 Yoga Classes</li>
                                <li class="color">20 Aerobics</li>
                                <li>10 Zumba Classes</li>
                                <li class="color">5 Massage</li>
                                <li>10 Body Building</li>
                            </ul>
                            <a href="#" class="btn btn-default">Select Plan</a>
                        </div>
                    </div>
                    <div class="col-md-3 animate-box">
                        <div class="price-box animate-box">
                            <h2 class="pricing-plan">Basic</h2>
                            <div class="price"><sup class="currency">$</sup>27<small>/month</small></div>
                            <p>Placeholder for description of the workout plan you want to offer for this price</p>
                            <ul class="classes">
                                <li>15 Cardio Classes</li>
                                <li class="color">10 Swimming Lesson</li>
                                <li>10 Yoga Classes</li>
                                <li class="color">20 Aerobics</li>
                                <li>10 Zumba Classes</li>
                                <li class="color">5 Massage</li>
                                <li>10 Body Building</li>
                            </ul>
                            <a href="#" class="btn btn-default">Select Plan</a>
                        </div>
                    </div>
                    <div class="col-md-3 animate-box">
                        <div class="price-box animate-box popular">
                            <h2 class="pricing-plan pricing-plan-offer">Pro <span>Best Offer</span></h2>
                            <div class="price"><sup class="currency">$</sup>74<small>/month</small></div>
                            <p>Placeholder for description of the workout plan you want to offer for this price</p>
                            <ul class="classes">
                                <li>15 Cardio Classes</li>
                                <li class="color">10 Swimming Lesson</li>
                                <li>10 Yoga Classes</li>
                                <li class="color">20 Aerobics</li>
                                <li>10 Zumba Classes</li>
                                <li class="color">5 Massage</li>
                                <li>10 Body Building</li>
                            </ul>
                            <a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
                        </div>
                    </div>
                    <div class="col-md-3 animate-box">
                        <div class="price-box animate-box">
                            <h2 class="pricing-plan">Unlimited</h2>
                            <div class="price"><sup class="currency">$</sup>140<small>/month</small></div>
                            <p>Placeholder for description of the workout plan you want to offer for this price</p>
                            <ul class="classes">
                                <li>15 Cardio Classes</li>
                                <li class="color">10 Swimming Lesson</li>
                                <li>10 Yoga Classes</li>
                                <li class="color">20 Aerobics</li>
                                <li>10 Zumba Classes</li>
                                <li class="color">5 Massage</li>
                                <li>10 Body Building</li>
                            </ul>
                            <a href="#" class="btn btn-default">Select Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Second Parallax Image with Portfolio Text -->
        <div class="bgimg-2 w3-display-container">
            <div class="w3-display-middle">
                <span class="w3-xxlarge w3-text-white w3-wide">TESTIMONIALS</span>
            </div>
        </div>

        <!-- Container (Testimonial Section) -->
    <div id="fh5co-team-section" class="fh5co-lightgray-section">
        <div class="container">
            @*<div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="heading-section text-center animate-box">
                        <h2>Meet Our Trainers</h2>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
            </div>*@
            <div class="row text-center">
                <div class="col-md-4 col-sm-6">
                    <div class="team-section-grid animate-box" style="background-image: url(https://i.pinimg.com/736x/72/5c/b8/725cb822ddee13a52202cc6f7b5ea00d--fitness-abs-life-fitness.jpg);">
                        <div class="overlay-section">
                            <div class="desc">
                                <h3>John Doe</h3>
                                <span class="fa fa-star checked" style="display: inline;"></span>
                                <span class="fa fa-star checked" style="display: inline;"></span>
                                <span class="fa fa-star checked" style="display: inline;"></span>
                                <span class="fa fa-star checked" style="display: inline;"></span>
                                <span class="fa fa-star checked" style="display: inline;"></span>
                                <p>This is a placeholder for the testimonial and reviews given by the person</p>
                                <p class="fh5co-social-icons">
                                    <a href="#"><i class="icon-twitter-with-circle"></i></a>
                                    <a href="#"><i class="icon-facebook-with-circle"></i></a>
                                    <a href="#"><i class="icon-instagram-with-circle"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-section-grid animate-box" style="background-image: url(https://assets.upfitness.com/uploads/blog_post/image/41/RackMultipart20161124-178-rxw7zj.jpg);">
                        <div class="overlay-section">
                            <div class="desc">
                                <h3>James Smith</h3>
                                <span class="fa fa-star checked" style="display: inline;"></span>
                                <span class="fa fa-star checked" style="display: inline;"></span>
                                <span class="fa fa-star checked" style="display: inline;"></span>
                                <span class="fa fa-star checked" style="display: inline;"></span>
                                <p>This is a placeholder for the testimonial and reviews given by the person</p>
                                <p class="fh5co-social-icons">
                                    <a href="#"><i class="icon-twitter-with-circle"></i></a>
                                    <a href="#"><i class="icon-facebook-with-circle"></i></a>
                                    <a href="#"><i class="icon-instagram-with-circle"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-section-grid animate-box" style="background-image: url(https://www.bodybuilding.com/fun/images/2011/personal-trainer-of-the-month-dan-mccaw_a.jpg);">
                        <div class="overlay-section">
                            <div class="desc">
                                <h3>John Doe</h3>
                                <span class="fa fa-star checked" style="display: inline;"></span>
                                <span class="fa fa-star checked" style="display: inline;"></span>
                                <span class="fa fa-star checked" style="display: inline;"></span>
                                <span class="fa fa-star checked" style="display: inline;"></span>
                                <span class="fa fa-star checked" style="display: inline;"></span>
                                <p>This is a placeholder for the testimonial and reviews given by the person</p>
                                <p class="fh5co-social-icons">
                                    <a href="#"><i class="icon-twitter-with-circle"></i></a>
                                    <a href="#"><i class="icon-facebook-with-circle"></i></a>
                                    <a href="#"><i class="icon-instagram-with-circle"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>


        <!-- Container (Contact Section) -->
    <div id="fh5co-blog-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="heading-section animate-box">
                            <h2>Recent from Blog</h2>
                        </div>
                    </div>
                    <div class="col-md-12 col-md-offset-0">
                        <div class="fh5co-blog animate-box">
                            <div class="inner-post">
                                <a href="#"><img src="https://i.pinimg.com/236x/5e/a6/d6/5ea6d64424e6b4658fb8ccf6ddcf6e54--training-motivation-workout-motivation.jpg" alt="" height="200"></a>
                            </div>
                            <div class="desc">
                                <h3><a href="" #>Starting new session of body building this summer</a></h3>
                                <span class="posted_by">Posted by: Admin</span>
                                <span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
                                <p>Far far away, behind the word mountains</p>
                                <a href="#" class="btn btn-default">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-md-offset-0">
                        <div class="fh5co-blog animate-box">
                            <div class="inner-post">
                                <a href="#"><img src="https://i.pinimg.com/236x/5e/a6/d6/5ea6d64424e6b4658fb8ccf6ddcf6e54--training-motivation-workout-motivation.jpg" alt="" height="200"></a>
                            </div>
                            <div class="desc">
                                <h3><a href="" #>Starting new session of body building this summer</a></h3>
                                <span class="posted_by">Posted by: Admin</span>
                                <span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
                                <p>Far far away, behind the word mountains</p>
                                <a href="#" class="btn btn-default">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="heading-section animate-box">
                            <h2>Upcoming Events</h2>
                        </div>
                    </div>
                    <div class="col-md-12 col-md-offset-0">
                        <div class="fh5co-blog animate-box">
                            <div class="meta-date text-center">
                                <p><span class="date">14</span><span>June</span><span>2016</span></p>
                            </div>
                            <div class="desc desc2">
                                <h3><a href="" #>Starting new session of body building this summer</a></h3>
                                <span class="posted_by">Posted by: Admin</span>
                                <span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                                <a href="#" class="btn btn-default">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-md-offset-0">
                        <div class="fh5co-blog animate-box">
                            <div class="meta-date text-center">
                                <p><span class="date">13</span><span>June</span><span>2016</span></p>
                            </div>
                            <div class="desc desc2">
                                <h3><a href="" #>Starting new session of body building this summer</a></h3>
                                <span class="posted_by">Posted by: Admin</span>
                                <span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                                <a href="#" class="btn btn-default">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fh5co-blog-section -->
    </div>
</div>

 <style>
            #fh5co-programs-section,
            #fh5co-schedule-section,
            #fh5co-team-section,
            #fh5co-blog-section,
            #fh5co-contact {
                padding: 7em 0;
            }



            /* Create a Parallax Effect */
            .bgimg-2, .bgimg-3 {
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: "Lato", sans-serif;
            }

            body, html {
                height: 100%;
                color: #777;
                line-height: 1.8;
            }

            /* First image (Logo. Full height) */
            .bgimg-1 {
                background-image: url(https://static.pexels.com/photos/17840/pexels-photo.jpg);
                height: -webkit-fill-available;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            /* Second image (Portfolio) */
            .bgimg-2 {
                background-image: url(https://chuzefitness.com/wp-content/uploads/how_much_weight_to_use.jpg);
                min-height: 400px;
            }

            /* Third image (Contact) */
            .bgimg-3 {
                background-image: url("/w3images/parallax3.jpg");
                min-height: 400px;
            }

            .w3-wide {
                letter-spacing: 10px;
            }

            .w3-hover-opacity {
                cursor: pointer;
            }

            /*Start CSS*/

            .fh5co-table,
.fh5co-table-cell,
.fh5co-parallax {
  height: 500px;
}

.fh5co-parallax {
  background-color: #555;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.fh5co-parallax .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: .2;
}

.fh5co-parallax .fh5co-intro h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 300;
  margin-bottom: 10px;
}
.fh5co-parallax .fh5co-intro p {
  color: #fff;
}
.fh5co-parallax .fh5co-intro p a {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.fh5co-parallax .fh5co-intro p a:hover {
  color: #fff;
}
.fh5co-parallax .fh5co-intro.box-area {
  padding: 40px;
  background: #222831;
}

.fh5co-table {
  display: table;
}

.fh5co-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.fh5co-pricing {
  padding: 7em 0;
}

.fh5co-pricing .pricing {
  display: block;
  float: left;
  margin-bottom: 30px;
}
.fh5co-pricing .price-box {
  text-align: center;
  padding: 30px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 40px;
  position: relative;
}
.fh5co-pricing .price-box.popular .btn-select-plan {
  background: #4CB648;
}
.fh5co-pricing .price-box.popular .price {
  color: #4CB648;
}
.fh5co-pricing .price-box .btn-select-plan {
  padding: 10px 20px;
  background: #5bc0de;
  color: #fff;
}
.fh5co-pricing .price-box .classes {
  padding: 0;
}
.fh5co-pricing .price-box .classes li {
  display: block;
  list-style: none;
  margin: 0;
  font-size: 16px;
  padding: 8px 10px;
}
.fh5co-pricing .price-box .classes li.color {
  background: rgba(0, 0, 0, 0.04);
}
.fh5co-pricing .pricing-plan {
  margin: 0 0 50px 0;
  padding: 0;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  color: #888f94;
}
.fh5co-pricing .pricing-plan.pricing-plan-offer {
  margin-bottom: 24px;
}
.fh5co-pricing .pricing-plan span {
  display: block;
  margin-top: 10px;
  margin-bottom: 0;
  color: #d5d8db;
}
.fh5co-pricing .price {
  font-size: 72px;
  color: #6d6d6d;
  line-height: 50px;
}
.fh5co-pricing .price .currency {
  font-size: 30px;
  top: -0.9em;
  padding-right: 10px;
}
.fh5co-pricing .price small {
  font-size: 13px;
  display: block;
  text-transform: uppercase;
  color: #888f94;
}



.fh5co-blog {
  margin-bottom: 50px;
  position: relative;
}
.fh5co-blog .inner-post {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 150px;
}
.fh5co-blog .inner-post img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.fh5co-blog .desc {
  padding-left: 230px;
}

.fh5co-blog .desc h3 {
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 32px;
}
.fh5co-blog .desc h3 a {
  color: rgba(0, 0, 0, 0.7);
}
.fh5co-blog .desc span {
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 20px;
}
.fh5co-blog .desc.desc2 {
  padding-left: 100px;
}

.fh5co-blog .meta-date {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
  background: #4CB648;
}

.fh5co-blog .meta-date p {
  margin: 0;
  display: block;
  color: #fff;
}
.fh5co-blog .meta-date p span {
  display: block;
  font-size: 14px;
}


.fh5co-blog .meta-date p span.date {
  font-size: 30px;
  font-weight: 900;
  line-height: 28px;
}

            #fh5co-programs-section,
            #fh5co-schedule-section,
            #fh5co-team-section,
            #fh5co-blog-section,
            #fh5co-contact {
                padding: 7em 0;
            }

            .fh5co-lightgray-section {
                background: rgba(0, 0, 0, 0.04);
            }


            .team-section-grid {
                position: relative;
                background-size: cover;
                height: 450px;
                margin-bottom: 30px;
                overflow: hidden;
            }

                .team-section-grid .overlay-section {
                    position: absolute;
                    top: 0;
                    bottom: -450px;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    background: rgba(0, 0, 0, 0.5);
                    -webkit-transition: 0.6s;
                    -o-transition: 0.6s;
                    transition: 0.6s;
                }

                    .team-section-grid .overlay-section h3 {
                        color: #fff;
                        margin-bottom: 10px;
                        font-size: 20px;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                    }

                    .team-section-grid .overlay-section span {
                        display: block;
                        margin-bottom: 15px;
                    }

                    .team-section-grid .overlay-section p {
                        color: rgba(255, 255, 255, 0.7);
                    }

                        .team-section-grid .overlay-section p.fh5co-social-icons a:hover, .team-section-grid .overlay-section p.fh5co-social-icons a:focus {
                            text-decoration: none !important;
                        }

                        .team-section-grid .overlay-section p.fh5co-social-icons i {
                            font-size: 40px;
                            color: #fff;
                        }

                    .team-section-grid .overlay-section span {
                        color: #fff;
                        display: block;
                    }

                    .team-section-grid .overlay-section .desc {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        padding: 30px;
                    }

                .team-section-grid:hover .overlay-section {
                    bottom: 0;
                    opacity: 1;
                }


            .heading-section {
                margin-bottom: 4em;
            }

                .heading-section h2 {
                    font-size: 24px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    position: relative;
                    font-weight: 900;
                }


        </style>